CACHE_ERROR="tests/cache/Error/"
CACHE_OK="tests/cache/Ok/"
CACHE_SIZE=10
S3_ENDPOINT="https://s3.amazon.com"
S3_BUCKET="csv-examples"
S3_PATH_ERROR="Error"
S3_PATH_OK="Ok"
S3_ACCESS_KEY="YOUR-ACCESS-KEY"
S3_SECRET_KEY="YOUR-SECRET-KEY"
