CACHE_DIR="tests/cache/"
STATE_PATH="tests/state.json"
ERR_CACHE_SIZE=10
S3_ENDPOINT="https://s3.amazon.com"
S3_BUCKET="csv-examples"
S3_PATH="examples"
S3_ACCESS_KEY="YOUR-ACCESS-KEY"
S3_SECRET_KEY="YOUR-SECRET-KEY"
